.Form-wrapper {
    background-color: #41666B;
    width: 100%;
    color: white;
    padding: 1em;
}

.Form-flex {
    max-width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.Input-Group {
    background-color: #012E40;
    padding: 1em 2em;
}

.Time-input {
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
    font-size: 18px;
    width: 65px;
    border-style: solid;
    border: solid #012E40 0.1em;
    text-align: center;

}

button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: solid 0.1em #012E40;
    background-color: #012E40;
    color: white;
}